.swiper-slide {
  
    /* Center slide text vertically */
    display: flex;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  
  .swiper {
    width: 100%;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .swiper-slide {
    background-size: cover;
    background-position: center;
  }
  
  
  .mySwiper {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
  }
  
  .mySwiper .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
  }
  
  .mySwiper .swiper-slide-thumb-active {
    opacity: 1;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /* create media query for screen size 400 px or less */

@media screen and (max-width: 750px) {
.sm-swiper-fix{
  width: 100vw;
  overflow: hidden;
}

.swiper{
  max-height: 600px;
}
}

@media screen and (max-width: 500px) {
.sm-swiper-fix{
  width: 100vw;
  height: 400px ;
  /* overflow: hidden; */
}

.swiper{
  max-height: 400px;
}
}